@font-face {
    font-family: 'Monsieur La Doulaise';
    src: url('MonsieurLaDoulaise-Regular.woff2') format('woff2'),
        url('MonsieurLaDoulaise-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

